<div class="overlay">
  <div class="form flex flex-col gap-3">
    <app-user-dialog-caption caption="Пригласить пользователя" />

    <nz-input-group nzAddOnBefore="email" nzSize="large">
      <input
        libAutoFocus
        [(ngModel)]="data.email"
        nz-input
        type="text"
        autocomplete="off"
      />
    </nz-input-group>

    <nz-input-group nzAddOnBefore="Имя" nzSize="large">
      <input [(ngModel)]="data.name" nz-input type="text" autocomplete="off" />
    </nz-input-group>

    <label nz-checkbox [(ngModel)]="data.access!.canSignDocuments"
    >Подписывает документы</label
    >
    <label nz-checkbox [(ngModel)]="data.access!.canListAll"
    >Доступ ко всем документам</label
    >
    <label nz-checkbox [(ngModel)]="data.access!.isCompanyAdmin"
    >Администратор компании</label
    >
    <hr />
    <label
      nz-checkbox
      [(ngModel)]="data.settings!.notifications!.emailOnNewDoc4s"
    >Уведомлять о новых запросах на подпись</label
    >
    <label
      nz-checkbox
      [(ngModel)]="data.settings!.notifications!.emailOnDocApproveResult"
    >Уведомлять об ответах на запросы</label
    >

    <div class="error">{{ error }}</div>

    <div class="w-full flex flex-row gap-2 justify-around">
      <button
        (click)="submit()"
        [disabled]="auth.state.connecting()"
        type="submit"
        nzType="primary"
        nz-button
        nzSize="large"
      >
        Отправить приглашение
      </button>

      <button (click)="cancel()" nzType="default" nz-button nzSize="large">
        Отмена
      </button>
    </div>
  </div>
</div>
