@if (token) {
  <div class="overlay">
    <div class="form flex flex-col gap-3">
      <app-user-dialog-caption caption="Установка пароля" />
      @if (mode === 'invite-user') {
        <p>Установите пароль, чтобы создать учетную запись</p>
      }
      @if (mode === 'register') {
        <p>Установите пароль, чтобы зарегистрироваться</p>
      }
      @if (mode === 'change-password') {
        <p>Укажите новый пароль</p>
      } @else {
      }
      <nz-input-group nzAddOnBefore="Пароль" nzSize="large">
        <input
          libAutoFocus
          [(ngModel)]="password"
          nz-input
          type="password"
          (keyup)="error = ''"
        />
      </nz-input-group>
      <p>Наберите новый пароль еще раз для проверки</p>
      <nz-input-group nzAddOnBefore="Пароль" nzSize="large">
        <input
          [(ngModel)]="passwordConfirmation"
          nz-input
          type="password"
          (keyup.enter)="submit()"
          (keyup)="error = ''"
        />
      </nz-input-group>

      <div class="error">{{ error }}</div>

      <div class="w-full flex flex-row gap-2 justify-around">
        <button
          (click)="submit()"
          type="submit"
          nzType="primary"
          nz-button
          nzSize="large"
        >
          Установить
        </button>

        <button (click)="cancel()" nzType="default" nz-button nzSize="large">
          Отмена
        </button>
      </div>
    </div>
  </div>

}
