<div class="man w-full m-2 text-xl">
  <p class="m-4">
    1. Чтобы добавить документ нажмите кнопку "Загрузить" в секции "Запрос"
    <br />Можно загрузить файлы JPG постранично.
  </p>
  <p class="m-4">Файлы PDF, DOC, DOCX, XLS, XLSX будут разбиты на страницы.</p>

  <p class="m-4">
    2. При необходимости отредактируйте свойства запроса - клик по надписи с
    номером
  </p>

  <p class="m-4">
    3. Нажмите кнопку "В работе" для запуска на согласование или подпись. После
    перевода в этот статус запрос не редактируется.
  </p>

  <p class="m-4">
    4. На электронную почту придёт сообщение о результатах согласования.
  </p>
  <p class="m-4">Документ будет переведен в статус "Утвеждён" или "Отказ"</p>
  <p class="m-4">
    5. Файлы с подписями и печатями можно скачать в секции "Ответ"
  </p>
</div>
