// ---------------------- Layout ---------------------------------------
$max-width: 1420px;
$main-menu-width: 230px;
$content-width: calc(100% - 230px);
$main-menu-width-collapsed: 90px;
$content-width-collapsed: calc(100% - 100px);
$top-menu-height: 40px;

$link-color: #0060c0;
$link-hover-color: #2ba3fe;

$accent-color: #ef7f1a;
$border-accent-color: #0060c0;

$row-hover-bg-color: #f5fffe;
