<div class="overlay">
  <div class="form flex flex-col gap-3">
    <app-user-dialog-caption caption="Установка пароля" />
    <p>Для смены пароля на ваш email будет отправлена ссылка</p>
    <nz-input-group nzAddOnBefore="email" nzSize="large">
      <input
        libAutoFocus
        [(ngModel)]="username"
        nz-input
        type="text"
        autocomplete="off"
        (keyup.enter)="submit()"
      />
    </nz-input-group>

    <div class="error">{{ error }}</div>

    <div class="w-full flex flex-row gap-2 justify-around">
      <button
        (click)="submit()"
        type="submit"
        nzType="primary"
        nz-button
        nzSize="large"
      >
        Отправить email
      </button>

      <button (click)="cancel()" nzType="default" nz-button nzSize="large">
        Отмена
      </button>
    </div>
  </div>
</div>
