# API
API_PORT=3040
API_CORS=http://localhost:4210;http://cat.rk-a.ru;http://localhost:4220;
API_CORS_DISABLED=1

# SSR
SSR_FRONTEND_API_ADDRESS=http://localhost:3040
SSR_BACKEND_API_ADDRESS=http://localhost:3040


SERVICE_NAME=pisets.ru

# FOLDERS
FILES_PATH=data/files
TEMP_FILES_PATH=data/temp

# ADMIN
ADMIN_DEFAULT_EMAIL=admin@admin.ru
ADMIN_DEFAULT_PASSWORD=AdminAero2024

# DATABASE
DATABASE_USER=postgres
DATABASE_PASSWORD=postGr23
DATABASE_NAME=doc
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_LOG=0
DATABASE_SYNC=1

# DOCKER POSTGRES
POSTGRES_DB=doc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=post2604
POSTGRES_PORT=5434

# JWT
JWT_AUTH_SECRET=easy-peasy-key
JWT_AUTH_EXPIRATION=60
JWT_REFRESH_SECRET=very-easy-peasy-key
JWT_REFRESH_EXPIRATION=600
JWT_HASH_PASSWORD_SALT=easy-peasy-salt
JWT_OTP_ISSUER=pisets.ru

# MAILER
MAILER_TRANSPORT=smtps://site@rk-a.ru:zyxffmtjzdlttrck@smtp.yandex.ru
MAILER_FROM="Сервис подписывания 'Писец'"
#MAILER_TRANSPORT=smtp://robot@p.rk-a.org:xxxSFZS85ENugtqBvm6yUst@smtp.mail.ru

# For mailer etc...
BASE_FRONTEND_URL=http://p.rk-a.org

# For Url signing
BACKEND_URL_FILES_PREFIX=http://p.rk-a.org/files/private/

# S3
AWS_REGION=ru-central1
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_SIGNED_URL_TTL=60

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=redis

CLUSTER_MODE=0
